* {
  box-sizing: border-box;
}
*:focus-visible {
  /* remove default focus style */
  outline: none;
  /* custom focus styles */
  box-shadow: 0 0 2px 1px var(--light-color);
}
:root {
  --h: 120;
  --s: 100%;
  --l: 25;
  --color: hsl(var(--h), var(--s), calc(var(--l) * 1%));
  --very-light-color: hsl(var(--h), var(--s), calc((var(--l) + 70) * 1%));
  --light-color: hsl(var(--h), var(--s), calc((var(--l) + 10) * 1%));
  --dark-color: hsl(var(--h), var(--s), calc((var(--l) - 10) * 1%));
}
body {
  margin: 0;
}

.app-wpr {
  display: grid;
  justify-content: center;
}
.app {
  text-align: center;
  padding-bottom: 5rem;
}
.app:not(.has-data) {
  margin: auto 1rem;
}
/* .app:not(.has-data) label,
.app:not(.has-data) select {
  display: none;
} */
/* .app:not(.has-data) .search-header {
  font-size: 3.5rem;
} */
/* .app:not(.has-data) .form__input {
  border: 1px solid var(--color);
  border-radius: 1rem 0 0 1rem;
}
.app:not(.has-data) .form__btn {
  border-radius: 0 1rem 1rem 0;
} */
/* keep main header, form and result count in viewport */
/* .has-data .sticky {
  position: sticky;
  z-index: 1;
} */
.sticky {
  position: sticky;
  z-index: 1;
}
/* .has-data .search-header {
  top: 0;
  margin: 0;
  padding: 0.67em 0;
  background-color: white;
} */

/* .has-data .albums-count {
  top: 117px;
} */
/* TODO: find a less-hackier solution than sticky  */

dt::after {
  content: ': ';
}

.btn--primary {
  border: 1px solid var(--dark-color);
  border-radius: 2rem;
  height: 2.5rem;
  background: none;
  padding: 0 1rem;
  color: green;
  position: relative;
  top: 2rem;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 0.8rem;
}
.offscreen {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  margin: auto;
}

.loading::before {
  content: '';
  display: inline-block;
  margin: 1rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.2em solid var(--dark-color);
  border-top: 0.2em solid transparent;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
